<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css">
    <script src="../js/request.js"></script>
    <link rel="stylesheet" href="../css/fenl.css">
</head>

<body>
    <div class="bigBox">
        <!-- 头部开始 -->
        <div class="head">
            <div class="head1">
                <div class="logo lf">
                    <img src="../assets/images/logo.png" alt="">
                    <ul class="navigationBar">
                        <li class="lf underscore">首页</li>
                        <li class="lf">登录</li>
                        <li class="lf">注册</li>
                    </ul>
                </div>
                <div class="searchFor lf">
                    <input type="text" placeholder="请输入想要的商品"><button>搜索</button>
                </div>
                <!-- 头部结束 -->
            </div>
        </div>
        <div class="content1">
            <ul class="dddd">
                <li class="as">
                    <div class="muna">
                        <div>咖啡</div>
                        <div>饮食</div>
                        <div>正餐</div>
                        <div>男装</div>
                        <div>女装</div>
                        <div>眼镜</div>
                        <div>鞋靴</div>
                    </div>
        </div>
    </div>
    <div class="fenl">

    </div>
    <ul class="floor">

    </ul>
    <img src="../assets/images/footer.png" alt="">
</body>
<script src="../js/typesof.js"></script>
<script src="../js/分类.js"></script>
</html>